<div class="page-headers">
  <h1>Register</h1>
  <p class="text-danger">{{error}}</p>
</div><hr><br>

<div class="col-md-4 col-centered text-centered">
  <form name="registerForm" ng-submit="register()">
  
    <fieldset class="form-group">
      <input name="userEmail"
             class="form-control" 
             type="email"
             placeholder="Email"
             ng-model="user.email"
             ng-minlength="5"
             ng-maxlength="30"
             required />
      <div class="text-danger" ng-messages="registerForm.userEmail.$error" ng-show="registerForm.userEmail.$touched">
        <div class="text-danger" ng-message="required"> You did not enter an email address </div>
        <div class="text-danger" ng-messages-include="validations/errorMessages.html"></div>
      </div>
    </fieldset>
      
  
  
    <fieldset class="form-group">
      <input name="userName"
             class="form-control" 
             type="text"
             placeholder="Username"
             ng-model="user.username"
             ng-pattern="/^[ A-Za-z0-9_@.\/#&+-]*$/"
             required>
      <div  class="text-danger" ng-messages="registerForm.userName.$error" ng-show="registerForm.userName.$touched">
        <div class="text-danger" ng-message when="required">This field is required</div>
        <div class="text-danger" ng-message when="pattern">Only accepts these special characters: (@./#&+_-)</div>
      </div>
    </fieldset>
  
   
  
  
    <fieldset class="form-group">
      <input name="userPassword"
             class="form-control" 
             type="password" 
             placeholder="Password" 
             ng-model="user.password" 
             minlength="6" 
             maxlength="12"
             required>
      <div ng-messages="registerForm.userPassword.$error" ng-show="registerForm.userPassword.$touched">
        <div ng-messages-include="validations/errorMessages.html"></div>
      </div>
    </fieldset>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>