<!DOCTYPE html>
<html>
<head>
  <title>FishTank</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="fishTank">

  <div class="container">
    <div class="col-lg-12 col-centered text-center" style="color: #0033cc">
      <ui-view></ui-view>
    </div>
  </div>
    
  </body>
</html>
